body {
  background-image: url("../images/iamkheysi.48531.jpg");
}
.alldivs{
  position: absolute;
  border-radius: 30px;
  width: 500px;
  left: 450px;
  text-align: center;
  padding-top: 20px; ;
  background-color: white;
}
#welcome {
  background-color: blue;
  font-family: Arial;
  color: white;
  height: 200px;
  top: 30px;
}
#userInput {
  height: 200px;
  top: 280px;
}
#progress_bar {
  height: 100px;
  top: 530px;
  width: 0px;
}
#textbox {
}
#submit {}